:root {
    --main-bgd-color: #ffffff;
    --footer-bgd-color: #2F303A;
    --title-color: #212121;
    --link-color: #757575;
    --h1-color: #ffffff;
    --link-selection-button: #2196f3; 
    --hover-hero-button: #188CE8; 
    --footer-color-contacts: rgba(255, 255, 255, 0.6); 
    --team-bg-colorr: #F5F4FA;
}
  
body {
    color: var(--title-color);
    background-color: var(--main-bgd-color);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}



img {
    display: block;
    max-width: 100%;
    height: auto;
  }

a {
    text-decoration: none 
}

li {
    list-style-type: none 
}

/*header*/
  
.page-header > .container {
    display: flex; 
  }

.site-nav {
    display: flex;
    align-items: center;
}

.navigation {
    display: block;
    display: flex;
    align-items: center;
}

.page-header {
    border-bottom: 1px solid #ececec;
}
.logo {
    display: block;
    margin-right: 93px;
    margin-left: 0px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    font-family: Raleway, sans-serif;
    color: var(--link-selection-button)
}

.logo-header {
    font-family: Raleway, sans-serif;
    color: var(--title-color)
}

.link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-color)
}

.page-header .item:not(:last-child) {
    margin-right: 50px;
}

.link:hover ,
.link:focus {
    color: var(--link-selection-button)
} 

.link.current {
    color: var(--link-selection-button);
}

   
/*contacts navigation*/


.contacts {
    
    display: block;
    
    
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;    
    line-height: 1.14;
    color: var(--link-color)
       
}

.contacts:hover ,
.contacts:focus {
    color: var(--link-selection-button)
}

.site-contacts {
    display: flex;
    margin-left: auto;
}

.site-contacts :not(:last-child) {
    margin-right: 50px;
    margin-left: 0px;
}

/*button*/

.button-hero {
    cursor: pointer;
    padding: 10px 32px 10px 32px;
    border-radius: 4px;
    font-family: inherit;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-color: transparent;
    color: var(--h1-color);
    background-color: var(--link-selection-button)
    
}

.button-hero:hover,
.button-hero:focus {
    background-color: var(--hover-hero-button)   
}



/*hero section*/

.hero-section {
    text-align: center;
    text-transform: uppercase;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    
    background-color: var(--footer-bgd-color);
}


.title-header {  
    margin: auto;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color:  var(--h1-color);
    margin-bottom: 30px;
    text-transform: uppercase;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  } 

/*section ckill company. soft skill. work */


.skill-company {
    
    padding-top: 94px;
    padding-bottom: 47px;
 
 }
 

.features {
    
    display: flex;
    
}
                                                   
.h3-features {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-color);
}

.p-features {
    
    font-size: 14px;
    line-height: 1.71;
    color: var(--link-color)
}

.skill-room:not(:last-child) {
    max-width: 270px;
    margin-right: 30px;
}

      /*work*/

.work {
    padding-top: 47px;
    padding-bottom: 94px;
}

.h2-work {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--title-color);
}

.work-img {
    display: block;
    display: flex
}

.img-work:not(:last-child) {
    margin-right: 30px;
}

  /*team*/

.h2-team {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--title-color);
}

.team-text {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  
    background-color: var(--team-bg-colorr)
  
}


.h3-team {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--title-color); 
}

.p-team {
    font-size: 16px;
    line-height: 1.18;
    color: var(--link-color);   
}

.team-block {
    display: flex; 
}


.team-bg {
    background-color: var(--main-bgd-color);
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-bg:not(:last-child) {
    margin-right: 30px;
}


/*footer*/

.footer {
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bgd-color);
    
}

.footer .logo {
    margin-bottom: 20px;
}

.logo-footer {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    font-family: Raleway, cursive;
    color: var(--h1-color)
}



.contacts-footer {
    
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
    color: var(--footer-color-contacts)
}

.contacts-footer:hover,
.contacts-footer:focus {
    color: var(--link-selection-button);
}

.map-link {
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
    color: var(--h1-color);
}
.map-link:hover,
.map-link:focus {
    color: var(--link-selection-button);
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}


/*portfolio*/

.portfolio-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.p-portfolio {
    font-size: 16px;
    line-height: 1.88;
    color: var(--link-color);
}

/*кнопки портфолио*/

.button:hover,
.button:focus {
    background-color: var(--link-selection-button);
    color: var(--h1-color);
}
.button {
    padding: 6px 22px 6px 22px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    font-family: inherit;
}



.button-portfolio {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;

}


.portfolio-room .portfolio-link {
    margin: 0;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: start;
}

.portfolio-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 30px;
}

.galerry {
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.portfolio-block {
    text-indent: 24px;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee; 
    padding-top: 20px;
    padding-bottom: 20px; 
}
